body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mainTable {
    padding-top: 50px;
}

#captionHeader {
    font-size: large;
    text-align: left; 
}

#pageTitle{
    color:gainsboro;
}

.footer {
    position: relative;
    bottom: 0;
}

#nameTitle {
    padding-bottom:25px;
}

#editButton {
    text-align: right;
    padding-top: 30px;
}

#saveButton {
    padding-top: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.submitButtons {
    padding-top: 20px;
}

#deleteName {
    color: red;
}

#createButton {
    text-align: right;
    float: right;
}

#textMessage{
    padding-top: 25px;
}

#searchBar {
    padding-top: 20px;
}

#titlePatients {
    padding-top: 20px;
}
