@model HungryCells.Models.Patient

@{
    ViewBag.Title = "Delete";
}



<h3>Are you sure you want to delete <span id="deleteName"> @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span>?</h3>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="container col-lg-offset-1 submitButtons">
                <div class="row">
                    <div class="form-group col-lg-1">
                        <span>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </span>
                    </div>
                    <div class="col-lg-1">
                        @Html.ActionLink("Cancel", "Details", "Patients", new { id = Model.PatientID }, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        }
 

            
