
@{
    ViewBag.Title = "FollowUp";
}

<h2>Follow Up</h2>
<hr/>

<div class="container">
    
    <div class="col-lg-8">
        <h3>Patient Shortness of Breath</h3>
        <img src="~/Content/Images/chartgraph8.png" />
    </div>
    <div class="col-lg-4" id="textMessage">
        <div class="form-group">
            <label for="comment">Message:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button type="button" class="btn btn-info">Send</button>
    
    </div>
</div>




