@model IEnumerable<HungryCells.Models.Patient>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
<table class="table table-striped table-hover" id="mainTable">
    <caption class="page-header" id="captionHeader">All Patients</caption>
    <thead>
        <tr>
            <th></th>
            <th>Last Name</th>
            <th>Hospital Number</th>
            <th>Age</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>
        <td>@Html.DisplayFor(model => item.FirstName)</td>
        <td>@Html.DisplayFor(model => item.LastName)</td >
        <td>@Html.DisplayFor(model => item.PatientID)</td>
        <td>@Html.DisplayFor(model => item.BirthDate)</td>
        <td><span class="label label-primary">Referred</span></td>
    </tr>
    }
</table>
</div>